<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/home-page-layout}"
	  th:replace="~{layouts/home-page-layout :: homepage-page-fragment(
                                                ~{::title},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">

<head>
<title>Home | Squnga </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="Noxolo.Mkhungo" />
</head>
<body>

	<nav id="home-nav" th:replace="~{fragraments/home-page-fragment :: nav-default}">
		<!--Nav-->
	</nav>
	<header id="home-header" th:replace="~{fragraments/home-page-fragment :: home-header}" >
		<!--Header-->
	</header>
	<div id="home-main-content" th:replace="~{fragraments/home-page-fragment :: homepage-main-content}">
		<!--homepage main content-->
	</div>
	<div id="home-footer" th:replace="~{fragraments/home-page-fragment :: copyright}">
		<!--Footer-->
	</div>
</body>
</html>
