<!DOCTYPE html>
<html LANG="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Header Fragment</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../resources/theme/css/bootstrap/bootstrap.css}"
          href="**/**/theme/css/bootstrap/bootstrap.css"/>
</head>
<header th:fragment="header" class="accordion-header flex-header">
    <!--    Logged in show the user's avatar-->
    <div class=""  sec:authorize="isAuthenticated()">
        <button class="" id="profile-btn" th:onclick="dropdown()">
            <img class="img" alt="user profile picture"  th:src="@{}"/>
        </button>

        <div id = "dropdown-menu" class="dropdown-menu">
            <form th:action="@{/logout}" method="post">
                <button type = "submit" class="accordion-button" aria-label="sign out">Sign Out</button>
            </form>
        </div>
    </div>
</header>
</html>